body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  width: 1770px;
  margin: 0 auto;
}

.topbar {
  width: 1770px;
  height: 100px;
  background-color: white;
  margin-bottom: 20px;
}

.main-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1770px;
  height: 1000px;
  background-color: white;
}

.game-panel {
  box-sizing: border-box;
  width: 550px;
  height: 350px;
  background-color: gray;
  margin: 20px;
  padding: 10px 0;
  border: 1px solid black;
  transition: 0.5s
}

.game-panel:hover {
  cursor: pointer;
  box-shadow: 5px 10px black;
}

.game-title {
  margin: 0 0 5px 0;
  -webkit-text-stroke: 0.1px black;
  color: white;
}

.game-thumbnail {
  border: 1px solid black;
}

.game-description {
  background-color: white;
  width: 80%;
  height: 60px;
  margin: 0 auto;
  border: 1px solid black;
}

.start-screen {
  width: 100%;
  height: 100%;
}

.start-screen-image {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.start-screen-button {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%);
  width: 400px;
  height: 200px;
  font-size: 50px;
  animation: color-rotation 15s infinite;
}

@keyframes color-rotation {
  from, to { background-color: hsl(324, 70%, 45%); }
  10%      { background-color: hsl(360, 65%, 45%); }
  20%      { background-color: hsl( 36, 80%, 45%); }
  30%      { background-color: hsl( 72, 75%, 35%); }
  40%      { background-color: hsl(108, 65%, 35%); }
  50%      { background-color: hsl(144, 75%, 35%); }
  60%      { background-color: hsl(180, 75%, 35%); }
  70%      { background-color: hsl(216, 60%, 45%); }
  80%      { background-color: hsl(252, 65%, 50%); }
  90%      { background-color: hsl(288, 60%, 40%); }
}

.title-screen {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  background-color: gray;
  justify-content: space-around;
  border: 1px solid black;
}

.title-details {
  background-color: white;
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
}

.title-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.title-button {
  height: 60px;
  width: 100px;
}

.credits {
  height: 90%;
  width: 90%;
  background-color: white;
  margin: 0 auto;
  border: 1px solid black;
}

.credits-button {
  height: 60px;
  width: 100px;
  margin-top: 80px;
}

.credits>h1 {
  margin-bottom: 10px;
}

.credits>p {
  margin: 3px;
}

#game {
  /* box-sizing: border-box; */
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 1050px;
  height: 990px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  margin: 50px auto;
  padding-left: 30px;
  padding-top: 30px;
  /* background-color: gray; */
  background: url('../public/assets/backgrounds/background.jpg') no-repeat;
  background-size: cover;
  z-index: 3;
  border: 5px solid rgb(223, 183, 110);
}

@keyframes animate {
  100% {
    background-position: 0 1224px;
  }
}

#sideview {
  width: 300px;
  height: 960px;
  background-color: rgb(224, 204, 204);
}

#board {
  height: 960px;
  width: 720px;
  background: url('../public/assets/backgrounds/mistyForest.png') repeat 0 0;
  animation: animate 5s infinite;
  animation-timing-function: linear;
}

.healthBar {
  height: 20px;
  width: 200px;
  margin: 0 auto;
  color: #FFF;
  background: #000;
  border-style:solid;
  border-color:#CCC;
  border-width: 0 0 0 1px;
  box-shadow: 2px 2px 2px #555, inset 0 25px 20px -10px rgba(255, 255, 255, 0.3),
      inset 0 -15px 20px -10px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color .5s ease-in-out;

  transition: 1s;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.2;
  z-index: 2;
}

.overlay-exit {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 75%;
  width: 40px;
  height: 40px;
  background-color: red;
  text-align: center;
  z-index: 5;
  align-items: center;
  border: 2px solid black;
}

.overlay-exit:hover {
  cursor:pointer;
  background-color: rgb(247, 92, 92);
}

.overlay-exit>h4 {
  margin: 0;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  background-color: gray;
  border: 1px solid black;
}

.leaderboard-details {
  width: 80%;
  height: 70%;
  background-color: white;
  margin: 20px auto;
  border: 1px solid black;
}

.leaderboard-table {
  margin: 0 auto;
  border-spacing: 20px;
}

.leaderboard-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.leaderboard-button {
  height: 60px;
  width: 100px;
}

.score-overlay {
  position: absolute;
  width: 1080px;
  height: 1020px;
  bottom: 0;
  left: 0;
  /* left: 0; */
  /* right: 0; */
  background-color: black;
  opacity: 0.2;
  z-index: 3;
}

.score-screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 80%;
  left: 84px;
  top: 50px;
  /* margin: 0 auto; */
  background-color: white;
  z-index: 4;
  justify-content: space-around;
  border: 2px solid black;
}

.score-screen-input {
  height: 40px;
}

.score-submit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.score-submit-button {
  height: 60px;
  width: 100px;
}

button {
  border: 1px solid black;
}

button:hover {
  cursor: pointer;
  background-color: rgb(191, 252, 247);
}
